[Unit]
Description=joystick2crsf joystick bridge
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=@JOYSTICK2CRSF_BIN@ @JOYSTICK2CRSF_CONF@
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=root
Group=root
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
